# نادیده گرفتن وابستگی‌های نصب شده روی سیستم محلی
node_modules
apps/**/node_modules
packages/**/node_modules
services/**/node_modules

# نادیده گرفتن فایل‌های لاگ npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# نادیده گرفتن پوشه‌های build
dist
apps/**/dist
packages/**/dist
services/**/dist
apps/**/.next

# فایل‌های مربوط به سیستم عامل و IDE
.DS_Store
Thumbs.db
.idea
.vscode
